# --- SISTEMA ---
IMMICH_VERSION=release

# --- BASE DE DATOS ---
DB_USERNAME=postgres
DB_PASSWORD=
DB_DATABASE_NAME=immich
DB_STORAGE_TYPE=SSD

# --- COMUNICACIÓN INTERNA ---
IMMICH_MACHINE_LEARNING_URL=http://immich-machine-learning:3003

# --- MACHINE LEARNING (ACELERACIÓN IGPU OPENVINO) ---
IMMICH_MACHINE_LEARNING_DEVICE=openvino
ONNXRUNTIME_EXECUTION_PROVIDERS=OpenVINOExecutionProvider
OPENVINO_DEVICE=GPU
MACHINE_LEARNING_GPU_LAYERS=all
MACHINE_LEARNING_MODEL_TTL=3600
MACHINE_LEARNING_WORKERS=1
MACHINE_LEARNING_REQUEST_THREADS=1